#dev {
    color: black;
    font-size: 1.6em;
}
.title {
    color: blanchedalmond;
    background-color: black;
}
.text {
    color: blanchedalmond;
    background-color: black;
    font-size: 1em;
}
#meimage {
    border-radius:  12px;
}